<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <title>Attendee Home page</title>
</head>
<body>
    <div>
        <h1>Attendee's Home</h1>
    </div>

    <div>
        <h2>Upcoming Events</h2>
        <% if (events.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th>Event Title</th>
                        <th>Event Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% events.forEach(event => { %>
                        <tr>
                            <td><a href="/attEvent/<%= event.id %>"><%= event.title %></a></td>
                            <td><%= event.event_date %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <p>No events available at the moment.</p>
        <% } %>
    </div>
</body>
</html>
