<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/login.css" />
    <title>Login Page</title>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="finder-logo">
                <a href="/"><img class="logo" src="/logo3.jpg" alt="NextDoorSG logo"></a>
            </div>

            <div class="nav-link-container">
                <div class="nav-links">
                    <a href="/">Home</a>
                    <a href="/buyRentHome">Buy/rent</a>
                    <a href="/sellerHome">Sell</a>
                    <a href="/projectHome">New projects</a>
                    <a href="/tools">Tools</a>
                    <a href="#">Find agent</a>
                </div>
            </div>
                
            <!-- login -->
            <div class="login">
                <a href="/login">Login</a>
            </div>
        </div>
    </header>

    <div class="userlogin">
        <h1>Login</h1>
        <form class="login-form" action="/login/authenticate" method="POST">
            <label for="usernameOrEmail">Username or Email:</label>
            <input type="text" id="usernameOrEmail" name="usernameOrEmail" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p style="color: red;"><%= errorMessage %></p>
        <p>Don't have an account? <a href="/register">Register here</a></p>
               <form action="/" method="GET">
            <button type="submit">Back to Home</button>
        </form>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-row">
                <h3>NextDoorSG</h3>
                <p>Follow us here:</p>
                <a href="#"><img src="https://img.icons8.com/ios/50/facebook--v1.png" alt="Facebook logo" ></a>
                <a href="#"><img src="https://img.icons8.com/ios/50/twitterx--v1.png" alt="X logo" ></i></a>
                <a href="#"><img src="https://img.icons8.com/ios/50/instagram-new--v1.png" alt="Insta logo" ></i></a>
                <a href="#"><img src="https://img.icons8.com/ios/50/youtube-play--v1.png" alt="Youtube logo" ></i></a>
            </div>
         
            <div class="footer-col">
                <ul>
                    <li><a href="/projectHome">New Projects</a></li>
                    <li><a href="/tools">Tools</a></li>
                    <li><a href="#">Find Agents</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Term of Service</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <ul>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Licenses</a></li>
                    <li><a href="#">Mobile App</a></li>
                    <li><a href="#">Term of Service</a></li>
                </ul>
            </div>
   
            <div class="footer-bottom">
                <p><small>&copy;NextDoorSG. All rights reserved. Images are for illustrative purposes</small></p>
                <p><small>Terms and conditions apply</small></p>
            </div>
        </div>
    </footer>

    <script>
        // Prevent form resubmission on page refresh
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>

</body>
</html>
