<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <!--  icon font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>Main page</title>
    <!--Handlebars-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js" 
    integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="finder-logo">
                <a href="/"><img class="logo" src="/logo3.jpg" alt="NextDoorSG logo"></a>
            </div>

            <div class="nav-link-container">
                <div class="nav-links">
                    <a href="/">Home</a>
                    <a href="/buyRentHome">Buy/rent</a>
                    <a href="/sellerHome">Sell</a>
                    <a href="/projectHome">New projects</a>
                    <a href="/tools">Tools</a>
                    <a href="#">Find agent</a>
                </div>
            </div>
                
            <!-- login -->
            <div class="login">
                <a href="/login">Login</a>
            </div>
        </div>
    </header>

    <h1>Home main</h1>
    <!--search bar-->
    <div></div>
    
    <br>
    <!--Image slider-->
    <div class="imgslider-container">
        <div class="slide fade">
            <img src="/sampleimages/1738501017840.jpg" alt="house1">
        </div>

        <div class="slide fade">
            <img src="/sampleimages/1738553555496.jpg" alt="house2">
        </div>

        <div class="slide fade">
            <img src="/sampleimages/1739388529796.jpg" alt="house3">
        </div>

        <a class="prev" onclick="changeImg(-1)">&#10094;</a>
        <a class="next" onclick="changeImg(1)">&#10095;</a>
    </div>
    
    <br>
    <!--image slider button-->
    <div class="dotcontainer">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <br>

    <div class="imgLinkcontainer">
        <div class="topimgscontainer" id="topimgs-container">
            <script id="imgsTemplate" type="text/x-handlebars-template">
                <div class="mainimgcontainer">
                    <div class="main-img">
                        <a href="/tools"><img src="/sampleimages/1738501017840.jpg" alt="Tools"></a>
                    </div>

                    <div class="main-img">
                        <a href="/projectHome"><img src="/sampleimages/1738553555496.jpg" alt="New project"></a>
                    </div>

                    <div class="main-img">
                        <a href="#"><img src="/sampleimages/1739388529796.jpg" alt="Find agent"></a>
                    </div>
                </div>

            </script>
        </div>
    </div>    

    <div class="latheader">
        <h1>Latest projects</h1>
    </div>

    <div class="LatestProjectsContainer">
        <div class="LastestContainer" id="latproj-container">
            <script id="LastestsTemplate" type="text/x-handlebars-template">
                {{#each LatestProjects}}
                <div class="latproject">
                    <div class="imgcontainer">
                        <a href="{{link}}"><img src="{{img}}" alt="{{altText}}"></a>
                    </div>
                    <a href="{{link}}"><h3>{{title}}</h3></a>
                    <a href="{{link}}"><p>{{context}}</p></a>
                    <a href="{{link}}"><p>{{title}}</p></a>
                </div>
                {{/each}}
            </script>
        </div>
    </div>

    <div class="featheader">
        <h1>Featured properties</h1>
    </div>

    <div class="FeaturePropertyContainer">
        <div class="FeatureContainer" id="featprop-container">
            <script id="featuresTemplate" type="text/x-handlebars-template">
                {{#each FeatureProperties}}
                <div class="featproperty">
                    <div class="imgcontainer">
                        <a href="{{link}}"><img src="{{img}}" alt="{{altText}}"></a>
                    </div>
                    <a href="{{link}}"><h3>{{title}}</h3></a>
                    <a href="{{link}}"><p>{{context}}</p></a>
                    <a href="{{link}}"><p>{{title}}</p></a>
                </div>
                {{/each}}
            </script>
        </div>
    </div>

    <div class="recheader">
        <h1>Recommandations</h1>
    </div>

    <div class="RecommendationsArticleContainer">
        <div class="RecommendContainer" id="recarticle-container">
            <script id="recommandationsTemplate" type="text/x-handlebars-template">
                {{#each RecommandationArticles}}
                <div class="recarticle">
                    <div class="imgcontainer">
                        <a href="{{link}}"><img src="{{img}}" alt="{{altText}}"></a>
                    </div>
                    <a href="{{link}}"><h3>{{title}}</h3></a>
                    <a href="{{link}}"><p>{{context}}</p></a>
                    <a href="{{link}}"><p>{{title}}</p></a>
                </div>
                {{/each}}
            </script>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-row">
                <h3>NextDoorSG</h3>
                <p>Follow us here:</p>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
         
            <div class="footer-col">
                <ul>
                    <li><a href="/projectHome">New Projects</a></li>
                    <li><a href="/tools">Tools</a></li>
                    <li><a href="#">Find Agents</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Term of Service</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <ul>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Licenses</a></li>
                    <li><a href="#">Mobile App</a></li>
                    <li><a href="#">Term of Service</a></li>
                </ul>
            </div>
   
            <div class="footer-bottom">
                <p><small>&copy;NextDoorSG. All rights reserved. Images are for illustrative purposes</small></p>
                <p><small>Terms and conditions apply</small></p>
            </div>
        </div>
    </footer>

    <script>
        ///JS for slider///
        // Initialize the page index to 1 and display the first slide
        let pageIndex = 1;
        displaySlides(pageIndex);
  
        // Function to change the image slide 
        function changeImg(n) {
            displaySlides(pageIndex += n);
        }
  
        // Function to show a specific slide when a dot is clicked
        function currentSlide(n) {
            displaySlides(pageIndex = n);
        }
  
        // Function to display the slides
        function displaySlides(n) {
            let i;
            let slides = document.getElementsByClassName("slide");
            let dots = document.getElementsByClassName("dot");

            // Check if n is out of bounds and adjust pageIndex accordingly
            if (n > slides.length) {pageIndex = 1}    
            if (n < 1) {pageIndex = slides.length}

            // Hide the slides
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }

            // Remove the "active" class from all dots
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }

            // Display the current slide and 
            slides[pageIndex-1].style.display = "block";

            //Mark the corresponding dot as "active"
            dots[pageIndex-1].className += " active";  
        }

        // handle bar for img links
        document.addEventListener("DOMContentLoaded", function () {
            var imglist = {
                mainimgs: [
                    {
                        link: "#",
                        altText: "img 1",
                        img: "/sampleimages/1739304987448.jpg",
                    }
                ],
                sideimgs: [
                    {
                        link: "#",
                        altText: "img 1",
                        img: "/sampleimages/1739388529796.jpg",
                    },
                    {
                        link: "#",
                        altText: "img 2",
                        img: "/sampleimages/1739388529796.jpg",
                    }
                ]
            };

            // Get the Handlebars template
            var mainSource = document.getElementById("imgsTemplate").innerHTML;
            var mainTemplate = Handlebars.compile(mainSource);

            // Get the Handlebars template
            var sideSource = document.getElementById("imgsTemplate").innerHTML;
            var sideTemplate = Handlebars.compile(sideSource);

            // Render the template with data
            var mainImage = mainTemplate(imglist);
            var sideImage = sideTemplate(imglist);

            // Append the rendered object to container
            document.querySelector("#topimgs-container").innerHTML = mainImage;
            document.querySelector("#topimgs-container").innerHTML = sideImage;
        }); 

        // handle bar for Latest project
        document.addEventListener("DOMContentLoaded", function () {
            var latArr = {
                LatestProjects: [
                    {
                        link: "#",
                        altText: "latest project 1",
                        img: "./image/venus-flytrap.jpg",
                        title: "Venus Flytrap: Natures Carnivorous Marvel",
                        context: "Uncover the secrets of the Venus Flytrap, a botanical predator.",
                        name: "Admin",
                        date: "14/Sep/2025",
                    },
                    {
                        link: "#",
                        altText: "latest project 2",
                        img: "./image/polar-bear.jpg",
                        title: "The Enigmatic World of Polar Bears",
                        context: "Explore the resilient life of polar bears in the Arctic wilderness.",
                        name: "Admin",
                        date: "09/Nov/2025",
                    },
                    {
                        link: "#",
                        altText: "latest project 3",
                        img: "./image/pelican.jpg",
                        title: "Majestic Pelicans: Masters of Aerial Grace",
                        context: "Explore the elegance and ecological significance of pelicans in their natural habitat.",
                        name: "Admin",
                        date: "14/Jun/2025",
                    }
                ],
            };

            // Get the Handlebars template
            var latestSource = document.getElementById("LastestsTemplate").innerHTML;
            var latestTemplate = Handlebars.compile(latestSource);

            // Render the template with data
            var latestProjects = latestTemplate(latArr);

            // Append the rendered object to container
            document.querySelector("#latproj-container").innerHTML = latestProjects;
        });

        // handle bar for feature property
        document.addEventListener("DOMContentLoaded", function () {
            var featArr = {
                FeatureProperties: [
                    {
                        link: "#",
                        altText: "feature property 1",
                        img: "sampleimages/featureimage1.jpg",
                        title: "Venus Flytrap: Natures Carnivorous Marvel",
                        context: "Uncover the secrets of the Venus Flytrap, a botanical predator.",
                        name: "Admin",
                        date: "14/Sep/2025",
                    },
                    {
                        link: "#",
                        altText: "feature property 2",
                        img: "sampleimages/featureimage2.jpg",
                        title: "The Enigmatic World of Polar Bears",
                        context: "Explore the resilient life of polar bears in the Arctic wilderness.",
                        name: "Admin",
                        date: "09/Nov/2025",
                    },
                    {
                        link: "#",
                        altText: "feature property 3",
                        img: "sampleimages/featureimage3.jpg",
                        title: "Majestic Pelicans: Masters of Aerial Grace",
                        context: "Explore the elegance and ecological significance of pelicans in their natural habitat.",
                        name: "Admin",
                        date: "14/Jun/2025",
                    }
                ],
            };

            // Get the Handlebars template
            var featureSource = document.getElementById("featuresTemplate").innerHTML;
            var featureTemplate = Handlebars.compile(featureSource);

            // Render the template with data
            var featureProperties = featureTemplate(featArr);

            // Append the rendered object to container
            document.querySelector("#featprop-container").innerHTML = featureProperties;
        });

        // handle bar for Recommandations
        document.addEventListener("DOMContentLoaded", function () {
            var recArr = {
                RecommandationArticles: [
                    {
                        link: "https://www.edgeprop.sg/property-news/are-ecs-still-good-buy",
                        altText: "reccomended articles 1",
                        img: "sampleimages/reccoimage1.jpg",
                        title: "Are ECs still a good buy?",
                        context: "This article aims to explore if Executive Condominiums are still a good buy for homeowners in 2025",
                        name: "Admin",
                        date: "14/Sep/2025",
                    },
                    {
                        link: "https://www.channelnewsasia.com/commentary/singapore-housing-prices-hdb-affordability-demographics-ageing-singles-low-birth-rates-4923326",
                        altText: "reccomended articles 2",
                        img: "sampleimages/reccoimage2.jpg",
                        title: "Will Singapore’s property prices always rise, or is that a myth?",
                        context: "Exploring if increasing property prices are going to impact the current generation or is it all a ploy?",
                        name: "Admin",
                        date: "09/Nov/2025",
                    },
                    {
                        link: "https://www.edgeprop.sg/property-news/three-bedroom-unit-watertown-going-24-mil",
                        altText: "reccomended articles ",
                        img: "sampleimages/reccoimage3.jpg",
                        title: "Three-bedroom unit at Watertown going for $2.4 mil",
                        context: "Come and explore a new record-breaking price for this property in Singapore!",
                        name: "Admin",
                        date: "14/Jun/2025",
                    }
                ],
            };

            // Get the Handlebars template
            var recommandSource = document.getElementById("recommandationsTemplate").innerHTML;
            var recommandTemplate = Handlebars.compile(recommandSource);

            // Render the template with data
            var recommandArticles = recommandTemplate(recArr);

            // Append the rendered object to container
            document.querySelector("#recarticle-container").innerHTML = recommandArticles;
        });
    </script>
</body>
</html>
