<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="/projectHome.css" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js" 
     integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg==" 
     crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <title>Project home page</title>
 </head>
 <body>
     <header>
        <div class="header-container">
          <div class="finder-logo">
            <a href="/"><img class="logo" src="/logo3.jpg" alt="NextDoorSG logo"></a>
          </div>
 
          <div class="nav-link-container">
            <div class="nav-links">
              <a href="/">Home</a>
              <a href="/buyRentHome">Buy/rent</a>
              <a href="/sellerHome">Sell</a>
              <a href="#">New projects</a>
              <a href="/tools">Tools</a>
              <a href="/">Find agent</a>
            </div>
          </div>
             
          <div class="login">
            <a href="/login">Login</a>
          </div>
 
        </div>
     </header>
     
     <!-- filter put here -->
 
      <div class="prolist-header">
        <h2>Housing projects</h2>
      </div>
 
      <div id="projectlistwrapper" class="project-container">
         <script id="hseProjectTemplate" type="text/x-handlebars-template">
           {{#each hseproject}}
           <div class="project-content">
             <div class="project-card" >
               <div class="project-img">
                 <a href="{{link}}"><img src="{{img}}" alt="{{altText}}" ></a>
               </div>
 
               <div class="project-info">
                 <a href="{{link}}"><h2>{{hseingTitle}}</h2></a>
                 <p>{{projectType}}</p>
                 <h3>{{hseingAvilable}}</h3>
                 <p>{{hseingType}}</p>
               </div>
 
             </div>
           </div>
           {{/each}}
         </script>
     </div>
 
     <div class="pagination">
       <li class=" page-item previous disable"><a class="page-link" href="#">Prev</a></li>
       <li class="page-item current active"><a class="page-link" href="#">1</a></li>
       <li class="page-item dots"><a class="page-link" href="#">...</a></li>
       <li class="page-item current"><a class="page-link" href="#">5</a></li>
       <li class="page-item current"><a class="page-link" href="#">6</a></li>
       <li class="page-item dots"><a class="page-link" href="#">...</a></li>
       <li class=" page-item current"><a class="page-link" href="#">10</a></li>
       <li class="page-item next"><a class="page-link" href="#">Next</a></li>
     </div>
   
     <br>
 
     <div class="upprobox">
 
       <div class="upprobox-header">
         <h2>Upcoming projects</h2>
       </div>
       
       <div class="upcomingwrapper" id="upcomingwrapper">
         <script id="upcomingTemplate" type="text/x-handlebars-template">
           {{#each upcomingpro}}
           <div>
             <div class="projbox">
               <div class="buildingimg">
                 <a href="{{link}}"><img src="{{img}}" alt="{{altText}}" ></a>
               </div>
 
               <div class="upprocontent">
                 <a href="{{link}}"><h2>{{upcomingTitle}}</h2></a>
                 <p>{{upcomingProjectType}}</p>
                 <h3>{{upcomingFlatAvilable}}</h3>
                 <p>{{upcomingFlatType}}</p>
               </div>
 
             </div>
           </div>
           {{/each}}
         </script>
       </div>
 
       <div id="loadmore">
         <button type="button">Load more upcoming Projects</button>
       </div>
 
     </div>
 
     <br>
 
     <!-- Q&A section -->
     <div class="QAsectioncontainer">
         <div class="QAheader">
           <h3>FAQ</h3>
         </div>
   
         <div class="QA">
           <div class="QA-item">
             <div class="QA-item-header">What is the difference between an Executive Condominium (EC) and a Condominium?</div>
             <div class="QA-item-body">
               <div class="QA-item-body-content">Executive Condominiums (EC) are built by private developers, but are sold as public housing, whereas Condominiums are sold as private housing. This means that ECs are subject to government regulations such as a monthly household income eligibility cap, minimum occupational period of 5 years, and an MSR of 30%. Condominiums, on the other hand, are not subject to these regulations. Another difference is the leasehold, where ECs are only 99 year leaseholds and Condominiums can be 99 years, 999 years or freehold lease. Because of these regulations for ECs, they are also generally cheaper than Condominims in Singapore.</div>
             </div>
           </div>
   
           <div class="QA-item">
             <div class="QA-item-header">What is a 3Gen flat?</div>
             <div class="QA-item-body">
               <div class="QA-item-body-content">3Gen flats, also known as Multi-Generational Flats, are are a relatively new type of HDB housing that has a larger flat space and allows for multi-generational families or large families to live together. They were introduced in 2013 and have flat sizes bigger than 5-room flats, and 2 bedrooms with attached bathrooms rather than the typical one bedroom with attached toilet found in 5-room flats and below. However, this type of flat does have additonal regulations from the government, such as the multi-generational family must have one married couple and their parents or one courting couple (fiancé and fiancée) and their parents co-living together. </div>
             </div>
           </div>
         </div>
     </div>
 
     <br>
 
     <!-- footer -->
     <footer>
         <div class="footer-container">
           <div class="footer-row">
             <h3>NextDoorSG</h3>
             <p>Follow us here:</p>
             <a href="#"><img src="https://img.icons8.com/ios/50/facebook--v1.png" alt="Facebook logo" ></a>
             <a href="#"><img src="https://img.icons8.com/ios/50/twitterx--v1.png" alt="X logo" ></i></a>
             <a href="#"><img src="https://img.icons8.com/ios/50/instagram-new--v1.png" alt="Insta logo" ></i></a>
             <a href="#"><img src="https://img.icons8.com/ios/50/youtube-play--v1.png" alt="Youtube logo" ></i></a>
            </div>
          
            <div class="footer-col">
             <ul>
                 <li><a href="/projectHome">New Projects</a></li>
                 <li><a href="/tools">Tools</a></li>
                 <li><a href="#">Find Agents</a></li>
             </ul>
            </div>
 
            <div class="footer-col">
             <ul>
                 <li><a href="#">About Us</a></li>
                 <li><a href="#">Contact Us</a></li>
                 <li><a href="#">privacy Policy</a></li>
                 <li><a href="#">Term of Service</a></li>
             </ul>
            </div>
 
            <div class="footer-col">
             <ul>
                 <li><a href="#">Sitemap</a></li>
                 <li><a href="#">Linceses</a></li>
                 <li><a href="#">Mobile App</a></li>
                 <li><a href="#">Term of Service</a></li>
             </ul>
            </div>
    
            <div class="footer-bottom">
             <p><small>&copy;NextDoorSG. All right reserve. Images are for illustrative purposes.Terms and conditions apply</small></p>
            </div>
    
         </div>
     </footer>
 
     <script>
 
       // housing project handle bar
       document.addEventListener("DOMContentLoaded", function(){
         var hseproArr = {
           hseproject: [
             {
               link:'https://homes.hdb.gov.sg/home/bto/details/2025-02_UPB_VEFQX04wQzI0XzE3MzgwMjg3MTY3MjM',
               alterText:'HDB BTO',
               img:'/sampleimages/hdbicon.jpg',
               hseingTitle:'Tampines',
               projectType:'HDB BTO',
               hseingAvilable:'Housing types:',
               hseingType:'2/4/5 room flats',
             },
 
             {
               link:'https://aurelletampineec.com/',
               alterText:'Aurelle of Tampines EC',
               img:'/sampleimages/latestproject1.jpg',
               hseingTitle:'Tampines',
               projectType:'Executive Condominium',
               hseingAvilable:'Housing types:',
               hseingType:'3/4/5 bedrooms, premium and flexi options',
             },
 
             {
               link:'https://belgraviagreenvillas.com/',
               alterText:'Belgravia Green Villas',
               img:'/sampleimages/projectsameple-belgravia.jpg',
               hseingTitle:'Ang Mo Kio',
               projectType:'Semi-Detached',
               hseingAvilable:'Housing types:',
               hseingType:'2/3/4/5/6 bedroom semi-detached houses, penthouse',
             },
 
             {
               link:'https://parktownresidences.org/',
               alterText:'Parktown Residences',
               img:'/sampleimages/latestproject2.jpg',
               hseingTitle:'Parktown Residences',
               projectType:'Condominium',
               hseingAvilable:'Housing types:',
               hseingType:'1/2/3/4/5 bedrooms, premium and flexi options',
             },
 
             {
               link:'https://one-sophia.com.sg/',
               alterText:'One Sophia Singapore',
               img:'/sampleimages/latestproject3.jpg',
               hseingTitle:'One Sophia Singapore',
               projectType:'Condominium',
               hseingAvilable:'Housing types:',
               hseingType:'1/2/3 bedrooms, premium, luxury, deluxe and suite options',
             },
 
           ]
         };
         var hseProSource = document.getElementById("hseProjectTemplate").innerHTML;
         var hseProTemplate = Handlebars.compile(hseProSource);
 
         var hsePros = hseProTemplate(hseproArr);
 
         document.querySelector("#projectlistwrapper").innerHTML = hsePros
       })
 
       // housing project pagination
 
       function getList(toatalpage, page, maxLength){
         function range(start, end){
           return Array.from(Array(end - start +1), (_,i)=> i+start)
         }
 
         var sideWith = maxLength < 9 ? 1 :2;
         var leftWidth =(maxLength - sideWith *2 - 3) >> 1;
         var rigtWidth =(maxLength - sideWith *2 - 3) >> 1;
 
         if(toatalpage <= maxLength){
           return range(1, maxLength - sideWith -1).concat(0,range(toatalpage-sideWith+1, toatalpage));
         }
 
         if(page >= toatalpage - sideWith -1 -rigtWidth){
           return range(1, sideWith).concat(0, range(toatalpage - sideWith -1 -rigtWidth - leftWidth, toatalpage))
         }
 
         return range(1, sideWith).concat(0, range(page - leftWidth, page + rigtWidth), 0, range(toatalpage - sideWith + 1, toatalpage))
       }
 
       $(function(){
         var numOfItem = $(".project-content .project-card").length;
         // limitation of content per page
         var limitPerPage = 3;
         var totalpage = Math.ceil(numOfItem/limitPerPage);
         //element visible in pagination
         var paginationSize = 3;
         var currentPage;
 
         function showPage(whichPage){
           if(whichPage < 1 || whichPage > totalpage) return false;
 
           currentPage = whichPage;
           $(".project-content .project-card").hide().slice((currentPage - 1) * limitPerPage, currentPage * limitPerPage).show();
 
           $(".pagination li").slice(1, -1).remove();
 
           getList(totalpage, currentPage, paginationSize).forEach(item =>{
             $("<li>").addClass("page-item").addClass(item ? "current" : "dot").toggleClass("active", item === currentPage).append($("<a>").addClass("page-link")
             .attr({href: "javascript:void(0)"}).text(item || "...")).insertBefore(".next");
           });
 
           $(".previous").toggleClass("disable", currentPage === 1);
           $(".next").toggleClass("disable", currentPage === totalpage);
           return true;
         }
 
         $(".pagination").append(
           $("<li>").addClass("page-item").addClass("previous").append($("<a>").addClass("page-link").attr({href:"javascript:void(0)"}).text("Prev")),
           $("<li>").addClass("page-item").addClass("next").append($("<a>").addClass("page-link").attr({href:"javascript:void(0)"}).text("Next"))
         )
 
         $("project-content").show();
         showPage(1);
 
         $(document).on("click", ".pagination li.current:not(.active)", function(){
           return showPage(+$(this).text());
         });
 
         $(".next").on("click", function(){
           return showPage(currentPage + 1);
         })
 
         $(".previous").on("click", function(){
           return showPage(currentPage - 1);
         })
 
 
       });
 
 
 
 
       // upcoming project handle bar
       document.addEventListener("DOMContentLoaded", function(){
         var upcomProArr ={
           upcomingpro: [
             {
               link: 'https://homes.hdb.gov.sg/home/bto/details/2025-02_UPB_Qk1fTjdDNTRBXzE3MzgwMjgxMjIyNDk',
               alterText:'HDB BTO',
               img:'/sampleimages/hdbicon.jpg',
               upcomingTitle:'Bukit Merah',
               upcomingProjectType:'Upcoming BTO',
               upcomingFlatAvilable:'Housing types:',
               upcomingFlatType:'3/4 room flats',
             },
 
             {
               link: 'https://homes.hdb.gov.sg/home/bto/details/2025-02_UPB_U0JfTjRDNF8xNzM4MDI4NjA1MDg0',
               alterText:'HDB BTO',
               img:'/sampleimages/hdbicon.jpg',
               upcomingTitle:'Sembawang',
               upcomingProjectType:'Upcoming BTO',
               upcomingFlatAvilable:'Housing types:',
               upcomingFlatType:'2/3/4/5 room flats, 3Gen flats',
             },
 
             {
               link: 'https://homes.hdb.gov.sg/home/bto/details/2025-02_UPB_VFBfTjRDMzdfMTczODAyODg0MDA0NA',
               alterText:'HDB BTO',
               img:'/sampleimages/hdbicon.jpg',
               upcomingTitle:'Toa Payoh',
               upcomingProjectType:'Upcoming BTO',
               upcomingFlatAvilable:'Housing types:',
               upcomingFlatType:'2/3/4 room flats',
             },
 
             {
               link: 'https://homes.hdb.gov.sg/home/bto/details/2025-02_UPB_V0xfTjlDNV8xNzM4MDI4OTU5OTMx',
               alterText:'HDB BTO',
               img:'/sampleimages/hdbicon.jpg',
               upcomingTitle:'Woodlands',
               upcomingProjectType:'Upcoming BTO',
               upcomingFlatAvilable:'Housing types:',
               upcomingFlatType:'2/3/4/5 room flats',
             },
 
             {
               link: 'https://plantationclose.sg/',
               alterText:'Plantation Close EC',
               img:'/sampleimages/projectsameple-plantationclose.jpg',
               upcomingTitle:'Plantation Close',
               upcomingProjectType:'Upcoming Executive Condominium',
               upcomingFlatAvilable:'Housing types:',
               upcomingFlatType:'3/4/5 bedroom apartments',
             },
 
 
             {
               link: 'https://the-orie.sg/',
               alterText:'The Orie',
               img:'sampleimages/projectsameple-theorie.jpg',
               upcomingTitle:'The Orie',
               upcomingProjectType:'Upcoming Condominium',
               upcomingFlatAvilable:'Housing types:',
               upcomingFlatType:'1/2/3/4 bedroom apartments, premium options',
             },
 
           ]
         };
         var upcomProSource = document.getElementById("upcomingTemplate").innerHTML;
         var upcomProTemplate = Handlebars.compile(upcomProSource);
 
         var upcomingPros = upcomProTemplate(upcomProArr);
 
         document.querySelector("#upcomingwrapper").innerHTML = upcomingPros;
       })
 
       // loadmore button js
 
       document.addEventListener("DOMContentLoaded", function () {
        let loadmorebtn = document.querySelector('#loadmore button');
        let currentItems = 3;
 
        // Wait until Handlebars renders the content, then hide extra items
        setTimeout(() => {
            let upcomingboxes = document.querySelectorAll('.upprobox .upcomingwrapper > div');
 
            upcomingboxes.forEach((box, index) => {
              if (index >= currentItems) {
                 box.style.display = "none";
              }
            });
 
            loadmorebtn.addEventListener("click", () => {
              for (let i = currentItems; i < currentItems + 3; i++) {
                  if (upcomingboxes[i]) {
                     upcomingboxes[i].style.display = "flex";
                  }
              }
              currentItems += 3;
 
              if (currentItems >= upcomingboxes.length) {
                 loadmorebtn.style.display = "none";
              }
             });
         }, 100); 
       });
 
       // Q&A js script //
       const QAItemHeaders = document.querySelectorAll(".QA-item-header");
       QAItemHeaders.forEach((QAItemHeader) => {
         QAItemHeader.addEventListener("click", (event) => {
           const currentActiveQAItemHeader = document.querySelector(
             ".QA-item-header.active"
           );
           if (
             currentActiveQAItemHeader &&
             currentActiveQAItemHeader !== QAItemHeader
           ) {
             currentActiveQAItemHeader.classList.toggle("active");
             currentActiveQAItemHeader.nextElementSibling.style.maxHeight = 0;
           }
 
           QAItemHeader.classList.toggle("active");
           const QAItemBody = QAItemHeader.nextElementSibling;
           if (QAItemHeader.classList.contains("active")) {
             QAItemBody.style.maxHeight = QAItemBody.scrollHeight + "px";
           } else {
             QAItemBody.style.maxHeight = 0;
           }
         });
       });
     </script>
 
 </body>
 </html>
 