<!-- latest prject contents: -->
 <!--  hse img, location a tiltle/ availibity flat type as content/ type : BTO/SBF-->

 <!-- upcoming project contents: -->
 <!-- dummy img, location a tiltle/ availibity flat type as content/ type : upcoming BTO -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="/projectHome.css" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js" 
     integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg==" 
     crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <title>Project home page</title>
 </head>
 <body>
     <header>
         <div>
             <!-- logo -->
             <div>
                 <a href="/"><img src="" alt="logo" ></a>
             </div>
 
             <div>
                 <a href="/">Home</a>
                 <a href="/buyRentHome">Buy/rent</a>
                 <a href="/sellerHome">Sell</a>
                 <a href="/projectHome">New projects</a>
                 <a href="/tools">Tools</a>
                 <a href="/">Find agent</a>
             </div>
             
             <!-- login -->
             <div>
                 <a href="/login">Login</a>
             </div>
 
         </div>
     </header>
     
     <!-- filter put here -->
 
     <div>
 
       <div>
         <h2>Housing projects</h2>
       </div>
 
       <div id="projectlistwrapper" class="project-container">
         <script id="hseProjectTemplate" type="text/x-handlebars-template">
           {{#each hseproject}}
           <div class="project-content">
             <div class="project-card" >
               <div class="project-img">
                 <a href="{{link}}"><img src="{{img}}" alt="{{altText}}" ></a>
               </div>
 
               <div class="project-info">
                 <a href="{{link}}"><h2>{{hseingTitle}}</h2></a>
                 <p>{{projectType}}</p>
                 <h3>{{hseingAvilable}}</h3>
                 <p>{{hseingType}}</p>
               </div>
 
             </div>
           </div>
           {{/each}}
         </script>
     </div>
 
     <div class="pagination">
       <li class=" page-item previous disable"><a class="page-link" href="#">Prev</a></li>
       <li class="page-item current active"><a class="page-link" href="#">1</a></li>
       <li class="page-item dots"><a class="page-link" href="#">...</a></li>
       <li class="page-item current"><a class="page-link" href="#">5</a></li>
       <li class="page-item current"><a class="page-link" href="#">6</a></li>
       <li class="page-item dots"><a class="page-link" href="#">...</a></li>
       <li class=" page-item current"><a class="page-link" href="#">10</a></li>
       <li class="page-item next"><a class="page-link" href="#">Next</a></li>
     </div>
   
     <br>
 
     <div class="upprobox">
 
       <div>
         <h2>Upcoming projects</h2>
       </div>
       
       <div class="upcomingwrapper" id="upcomingwrapper">
         <script id="upcomingTemplate" type="text/x-handlebars-template">
           {{#each upcomingpro}}
           <div>
             <div class="projbox">
               <div class="buildingimg">
                 <a href="{{link}}"><img src="{{img}}" alt="{{altText}}" ></a>
               </div>
 
               <div class="upprocontent">
                 <a href="{{link}}"><h2>{{upcomingTitle}}</h2></a>
                 <p>{{upcomingProjectType}}</p>
                 <h3>{{upcomingFlatAvilable}}</h3>
                 <p>{{upcomingFlatType}}</p>
               </div>
 
             </div>
           </div>
           {{/each}}
         </script>
       </div>
 
       <div id="loadmore">
         <button type="button">Load more upcoming Projects</button>
       </div>
 
     </div>
 
     <br>
 
     <!-- Q&A section -->
     <div class="QAsectioncontainer">
         <div class="QAheader">
           <h3>FAQ</h3>
         </div>
   
         <div class="QA">
           <div class="QA-item">
             <div class="QA-item-header">qns 1 put here</div>
             <div class="QA-item-body">
               <div class="QA-item-body-content">ans 1 put here</div>
             </div>
           </div>
   
           <div class="QA-item">
             <div class="QA-item-header">qns 2 put here</div>
             <div class="QA-item-body">
               <div class="QA-item-body-content">ans 2 put here</div>
             </div>
           </div>
         </div>
     </div>
 
     <br>
 
     <!-- footer -->
     <footer>
         <div class=>
           <div>
             <P>Follow our offical social media accounts:</P>
             <a href="#"><i class="fa-brands fa-facebook"></i></a>
             <a href="#"><i class="fa-brands fa-twitter"></i></a>
             <a href="#"><i class="fa-brands fa-instagram"></i></a>
             <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
          
            <div class="footer-col">
             <ul>
                 <li><a href="/projectHome">New Projects</a></li>
                 <li><a href="/tools">Tools</a></li>
                 <li><a href="#">Find Agents</a></li>
             </ul>
            </div>
 
            <div class="footer-col">
             <ul>
                 <li><a href="#">About Us</a></li>
                 <li><a href="#">Contact Us</a></li>
                 <li><a href="#">privacy Policy</a></li>
                 <li><a href="#">Term of Service</a></li>
             </ul>
            </div>
 
            <div class="footer-col">
             <ul>
                 <li><a href="#">Sitemap</a></li>
                 <li><a href="#">Linceses</a></li>
                 <li><a href="#">Mobile App</a></li>
                 <li><a href="#">Term of Service</a></li>
             </ul>
            </div>
    
            <div class="footer-bottom">
             <p><small>&copy;xxxx. All right reserve. Images are for illustrative purposes.Terms and conditions apply</small></p>
            </div>
    
         </div>
     </footer>
 
     <script>
 
       // housing project handle bar
       document.addEventListener("DOMContentLoaded", function(){
         var hseproArr = {
           hseproject: [
             {
               link:'#',
               alterText:'building',
               img:'./logo3.jpg',
               hseingTitle:'location1',
               projectType:'BTO',
               hseingAvilable:'available flat types:',
               hseingType:'2 room',
             },
 
             {
               link:'#',
               alterText:'building',
               img:'./logo3.jpg',
               hseingTitle:'location2',
               projectType:'BTO',
               hseingAvilable:'available flat types:',
               hseingType:'2/3 rooms',
             },
 
             {
               link:'#',
               alterText:'building',
               img:'./logo3.jpg',
               hseingTitle:'location3',
               projectType:'SLB',
               hseingAvilable:'available flat types:',
               hseingType:'3/4/5 rooms',
             },
 
             {
               link:'#',
               alterText:'building',
               img:'',
               hseingTitle:'location4',
               projectType:'SLB',
               hseingAvilable:'available flat types:',
               hseingType:'2/3/4/5 rooms',
             },
 
             {
               link:'#',
               alterText:'building',
               img:'',
               hseingTitle:'location5',
               projectType:'',
               hseingAvilable:'available flat types:',
               hseingType:'',
             },
 
           ]
         };
         var hseProSource = document.getElementById("hseProjectTemplate").innerHTML;
         var hseProTemplate = Handlebars.compile(hseProSource);
 
         var hsePros = hseProTemplate(hseproArr);
 
         document.querySelector("#projectlistwrapper").innerHTML = hsePros
       })
 
       // housing project pagination
 
       function getList(toatalpage, page, maxLength){
         function range(start, end){
           return Array.from(Array(end - start +1), (_,i)=> i+start)
         }
 
         var sideWith = maxLength < 9 ? 1 :2;
         var leftWidth =(maxLength - sideWith *2 - 3) >> 1;
         var rigtWidth =(maxLength - sideWith *2 - 3) >> 1;
 
         if(toatalpage <= maxLength){
           return range(1, maxLength - sideWith -1).concat(0,range(toatalpage-sideWith+1, toatalpage));
         }
 
         if(page >= toatalpage - sideWith -1 -rigtWidth){
           return range(1, sideWith).concat(0, range(toatalpage - sideWith -1 -rigtWidth - leftWidth, toatalpage))
         }
 
         return range(1, sideWith).concat(0, range(page - leftWidth, page + rigtWidth), 0, range(toatalpage - sideWith + 1, toatalpage))
       }
 
       $(function(){
         var numOfItem = $(".project-content .project-card").length;
         // limitation of content per page
         var limitPerPage = 3;
         var totalpage = Math.ceil(numOfItem/limitPerPage);
         //element visible in pagination
         var paginationSize = 3;
         var currentPage;
 
         function showPage(whichPage){
           if(whichPage < 1 || whichPage > totalpage) return false;
 
           currentPage = whichPage;
           $(".project-content .project-card").hide().slice((currentPage - 1) * limitPerPage, currentPage * limitPerPage).show();
 
           $(".pagination li").slice(1, -1).remove();
 
           getList(totalpage, currentPage, paginationSize).forEach(item =>{
             $("<li>").addClass("page-item").addClass(item ? "current" : "dot").toggleClass("active", item === currentPage).append($("<a>").addClass("page-link")
             .attr({href: "javascript:void(0)"}).text(item || "...")).insertBefore(".next");
           });
 
           $(".previous").toggleClass("disable", currentPage === 1);
           $(".next").toggleClass("disable", currentPage === totalpage);
           return true;
         }
 
         $(".pagination").append(
           $("<li>").addClass("page-item").addClass("previous").append($("<a>").addClass("page-link").attr({href:"javascript:void(0)"}).text("Prev")),
           $("<li>").addClass("page-item").addClass("next").append($("<a>").addClass("page-link").attr({href:"javascript:void(0)"}).text("Next"))
         )
 
         $("project-content").show();
         showPage(1);
 
         $(document).on("click", ".pagination li.current:not(.active)", function(){
           return showPage(+$(this).text());
         });
 
         $(".next").on("click", function(){
           return showPage(currentPage + 1);
         })
 
         $(".previous").on("click", function(){
           return showPage(currentPage - 1);
         })
 
 
       });
 
 
 
 
       // upcoming project handle bar
       document.addEventListener("DOMContentLoaded", function(){
         var upcomProArr ={
           upcomingpro: [
             {
               link: '#',
               alterText:'building',
               img:'./logo3.jpg',
               upcomingTitle:'location1',
               upcomingProjectType:'upcoming BTO',
               upcomingFlatAvilable:'available flat types:',
               upcomingFlatType:'',
             },
 
             {
               link: '#',
               alterText:'building',
               img:'./logo3.jpg',
               upcomingTitle:'location2',
               upcomingProjectType:'upcoming BTO',
               upcomingFlatAvilable:'available flat types:',
               upcomingFlatType:'',
             },
 
             {
               link: '#',
               alterText:'building',
               img:'',
               upcomingTitle:'location3',
               upcomingProjectType:'upcoming BTO',
               upcomingFlatAvilable:'available flat types:',
               upcomingFlatType:'',
             },
 
             {
               link: '#',
               alterText:'building',
               img:'',
               upcomingTitle:'location4',
               upcomingProjectType:'upcoming BTO',
               upcomingFlatAvilable:'available flat types:',
               upcomingFlatType:'',
             },
 
             {
               link: '#',
               alterText:'building',
               img:'',
               upcomingTitle:'location5',
               upcomingProjectType:'upcoming BTO',
               upcomingFlatAvilable:'available flat types:',
               upcomingFlatType:'',
             },
 
 
             {
               link: '#',
               alterText:'building',
               img:'',
               upcomingTitle:'location6',
               upcomingProjectType:'upcoming BTO',
               upcomingFlatAvilable:'available flat types:',
               upcomingFlatType:'',
             },
 
           ]
         };
         var upcomProSource = document.getElementById("upcomingTemplate").innerHTML;
         var upcomProTemplate = Handlebars.compile(upcomProSource);
 
         var upcomingPros = upcomProTemplate(upcomProArr);
 
         document.querySelector("#upcomingwrapper").innerHTML = upcomingPros;
       })
 
       // loadmore button js
 
       document.addEventListener("DOMContentLoaded", function () {
        let loadmorebtn = document.querySelector('#loadmore button');
        let currentItems = 3;
 
        // Wait until Handlebars renders the content, then hide extra items
        setTimeout(() => {
            let upcomingboxes = document.querySelectorAll('.upprobox .upcomingwrapper > div');
 
            upcomingboxes.forEach((box, index) => {
              if (index >= currentItems) {
                 box.style.display = "none";
              }
            });
 
            loadmorebtn.addEventListener("click", () => {
              for (let i = currentItems; i < currentItems + 3; i++) {
                  if (upcomingboxes[i]) {
                     upcomingboxes[i].style.display = "flex";
                  }
              }
              currentItems += 3;
 
              if (currentItems >= upcomingboxes.length) {
                 loadmorebtn.style.display = "none";
              }
             });
         }, 100); 
       });
 
       // Q&A js script //
       const QAItemHeaders = document.querySelectorAll(".QA-item-header");
       QAItemHeaders.forEach((QAItemHeader) => {
         QAItemHeader.addEventListener("click", (event) => {
           const currentActiveQAItemHeader = document.querySelector(
             ".QA-item-header.active"
           );
           if (
             currentActiveQAItemHeader &&
             currentActiveQAItemHeader !== QAItemHeader
           ) {
             currentActiveQAItemHeader.classList.toggle("active");
             currentActiveQAItemHeader.nextElementSibling.style.maxHeight = 0;
           }
 
           QAItemHeader.classList.toggle("active");
           const QAItemBody = QAItemHeader.nextElementSibling;
           if (QAItemHeader.classList.contains("active")) {
             QAItemBody.style.maxHeight = QAItemBody.scrollHeight + "px";
           } else {
             QAItemBody.style.maxHeight = 0;
           }
         });
       });
     </script>
 
 </body>
 </html>
 