<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/register.css" />
    <title>Register Page</title>
</head>
<body>

    <header>
        <div class="header-container">
            <div class="finder-logo">
                <a href="/"><img class="logo" src="/logo3.jpg" alt="NextDoorSG logo"></a>
            </div>

            <div class="nav-link-container">
                <div class="nav-links">
                    <a href="/">Home</a>
                    <a href="/buyRentHome">Buy/rent</a>
                    <a href="/sellerHome">Sell</a>
                    <a href="/projectHome">New projects</a>
                    <a href="/tools">Tools</a>
                    <a href="#">Find agent</a>
                </div>
            </div>
                
            <div class="login">
                <a href="/login">Login</a>
            </div>
        </div>
    </header>

    <div class="user-register">
        <h1>Register</h1>
        <form class="register-form" action="/register/add-user" method="POST">
            <label for="username">Name:</label>
            <input type="text" id="username" name="username" pattern="[A-Za-z]+" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" required>
            <br>
            <label for="account_type">You are a :</label>
            <select id="account_type" name="account_type" required>
                <option value="buyer">Buyer</option>
                <option value="seller">Seller</option>
                <option value="agent">Agent</option>
            </select>
           <br>
           <button type="submit">Register</button>
        </form>
        <p style="color: red;"><%= errorMessage %></p>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-row">
                <h3>NextDoorSG</h3>
                <p>Follow us here:</p>
                <a href="#"><img src="https://img.icons8.com/ios/50/facebook--v1.png" alt="Facebook logo" ></a>
                <a href="#"><img src="https://img.icons8.com/ios/50/twitterx--v1.png" alt="X logo" ></i></a>
                <a href="#"><img src="https://img.icons8.com/ios/50/instagram-new--v1.png" alt="Insta logo" ></i></a>
                <a href="#"><img src="https://img.icons8.com/ios/50/youtube-play--v1.png" alt="Youtube logo" ></i></a>
            </div>
         
            <div class="footer-col">
                <ul>
                    <li><a href="/projectHome">New Projects</a></li>
                    <li><a href="/tools">Tools</a></li>
                    <li><a href="#">Find Agents</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Term of Service</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <ul>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Licenses</a></li>
                    <li><a href="#">Mobile App</a></li>
                    <li><a href="#">Term of Service</a></li>
                </ul>
            </div>
   
            <div class="footer-bottom">
                <p><small>&copy;NextDoorSG. All rights reserved. Images are for illustrative purposes</small></p>
                <p><small>Terms and conditions apply</small></p>
            </div>
        </div>
    </footer>

</body>
</html>
