.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d2b48c;
    border-radius: 10px;
}

.finder-logo {
    margin-right: auto;
}

/* Logo styles */
.finder-logo img {
    max-width: 30%;
    border-radius: 10px;
}

/* Navigation styles */
.nav-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.nav-links a:hover {
    color: #0056b3;
}

.login {
    margin-left: 15px;
}

/* Login styles */
.login a,
.userlogin button {
    text-decoration: none;
    color: white;
    padding: 10px 15px; 
    background-color: #007bff; 
    border-radius: 5px; 
    font-size: 1.5rem; 
    font-weight: bold; 
    transition: background-color 0.3s;
}

.login a:hover {
    background-color: #0056b3;
}

/* article styling */

.article-container {
    display: flexbox;
    width: 100%;
    height: auto;
    background: #d2b48c;
    border-radius: 10px;
}

.article-container h2{
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    padding-top: 1rem;
}

.article-card-wrapper{
    display: grid;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
}

.article-content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin: 1em auto;
    align-items: center;
    justify-content: center;
    background: #fff;
    overflow: hidden;
    border-radius: 10px;
}

.article-img{
    flex: 1 1 200px;
    width: 100%;
    height: auto;
}

.article-img img{
    display: flex;
    width: 100%;
    height: auto;
}

.info-content{
    flex: 2 1 300px;
    padding: 1em 2em;
}

.article-content a{
    text-decoration: none;
    color: black;
}

.article-content h3{
    font-size: 2em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.article-content p{
    font-size: 1.5em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

/* No article available message */
.display-msg{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 50px 0;
}


/* FQA styling */

.QAsectioncontainer .QAheader h3{
    text-align: center;
    padding-top: 1rem;
}

.QA{
    max-width: 80%;
    margin: 10px auto;
}

.QA-item{
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.QA-item-header{
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
}

.QA-item-header::after{
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.QA-item-header.active::after{
    content: "\2212";
}

.QA-item-body{
    max-height: 0;
    overflow: hidden;
} 

.QA-item-body-content{
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 3px solid;
    border-image: linear-gradient(to right);
    font-size: 1.5rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    background-color: #d2b48c;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.footer-row {
    font-size: 1.5rem;
}

.footer-col ul {
    font-size: 1.5rem;
    list-style-type: none;
    padding-left: 0;
}

.footer-col ul li {
    margin: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: black;
}

.footer-col ul li a:hover {
    color: #0056b3;
}

.footer-bottom {
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}

/* Responsive styles */
@media (min-width: 1325px) {
    .dropdown-content {
        display: block; 
    }
}

@media (max-width: 1325px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        background-color: #d2b48c;
        padding: 20px;
    }

    .main-img {
        width: 90%;
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0 10px;
    }
    
    .finder-logo {
        margin: 0;
    }

    .finder-logo img{
        max-width: 100%;
        align-items: center;
    }

    .nav-link-container, .login {
        margin: 10px;
    }

    .userlogin {
        max-width: 100%;
    }

    .QA {
        max-width: 90%;
    }

    .footer-container {
        display: block;
        justify-content: center;
        margin: 10px;
    }

    .footer-row,
    .footer-col {
        text-align: center;
        margin: 0;
        padding: 0;
    }
}