.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d2b48c;
    border-radius: 10px;
}

.finder-logo {
    margin-right: auto;
}

/* Logo styles */
.finder-logo img {
    max-width: 30%;
    border-radius: 10px;
}

/* Navigation styles */
.nav-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.nav-links a:hover {
    color: #0056b3;
}

.login {
    margin-left: 15px;
}

/* Login styles */
.login a,
.userlogin button {
    text-decoration: none;
    color: white;
    padding: 10px 15px; 
    background-color: #007bff; 
    border-radius: 5px; 
    font-size: 1.5rem; 
    font-weight: bold; 
    transition: background-color 0.3s;
}

.login a:hover {
    background-color: #0056b3;
}

.userlogin {
    text-align: center;
    background-color: #d2b48c;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    max-width: 50%;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    font-size: 1.5rem;
    margin: 1vh auto;
}

.userlogin p,
.userlogin button,
.userlogin label,
.userlogin input {
    font-size: 1.5rem;
    margin: 1vh auto;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    background-color: #d2b48c;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.footer-row {
    font-size: 1.5rem;
}

.footer-col ul {
    font-size: 1.5rem;
    list-style-type: none;
    padding-left: 0;
}

.footer-col ul li {
    margin: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: black;
}

.footer-col ul li a:hover {
    color: #0056b3;
}

.footer-bottom {
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}

/* Responsive styles */
@media (min-width: 1325px) {
    .dropdown-content {
        display: block; /* Show links normally on larger screens */
    }
}

@media (max-width: 1325px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        background-color: #d2b48c;
        padding: 20px;
    }

    .main-img {
        width: 90%;
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0 10px;
    }
    
    .finder-logo {
        margin: 0;
    }

    .finder-logo img{
        max-width: 100%;
        align-items: center;
    }

    .nav-link-container, .login {
        margin: 10px;
    }

    .userlogin {
        max-width: 100%;
    }

    .footer-container {
        display: block;
        justify-content: center;
        margin: 10px;
    }

    .footer-row,
    .footer-col {
        text-align: center;
        margin: 0;
        padding: 0;
    }
}