.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d2b48c;
    border-radius: 10px;
}

.finder-logo {
    margin-right: auto;
}

/* Logo styles */
.finder-logo img {
    max-width: 30%;
    border-radius: 10px;
}

/* Navigation styles */
.nav-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.nav-links a:hover {
    color: #0056b3;
}

.login {
    margin-left: 15px;
}

/* Login styles */
.login a {
    text-decoration: none;
    color: white;
    padding: 10px 15px; 
    background-color: #007bff; 
    border-radius: 5px; 
    font-size: 1.5rem; 
    font-weight: bold; 
    transition: background-color 0.3s;
}

.login a:hover {
    background-color: #0056b3;
}


/* project styling */

.prolist-header h2{
    font-size: 150%;
    text-align: center;
}

.project-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap; 
    overflow-x: auto; 
    gap: 20px;
    width: 100%;
    padding: 20px 0;
    justify-content: center; 
    align-items: center;
    scrollbar-width: none; 
}

.project-content {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap; 
    gap: 20px;
}

.project-card {
    flex: 0 0 auto; 
    width: 300px; 
    height: auto;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.project-img {
    max-width: 100%;
}

.project-img img {
    max-width: 100%;
    height: auto;
}

.project-info{
    position: relative;
    padding: 10px 20px 20px;
}

.project-info h2{
    font-size: 1.5rem;
    text-decoration: none;
    margin-bottom: 5px;
}

.project-info a{
    text-decoration: none;
    color: #334;
}

.project-info h3{
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.project-info p{
    font-size: 1.5rem;
    margin-bottom: 5px;
} 

.pagination{
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
}

.pagination li{
    display: inline-block;
    margin: 5px;
}

.pagination li a{
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 45px;
}

.previous, .next{
    width: 60px;
    border-radius: 45px;
    cursor: pointer;
}

.current, .dots{
    width: 45px;
    border-radius: 50px;
    cursor: pointer;
}


/* upcoming project styling */

.upprobox{
    display: flexbox;
    width: 100%;
    height: auto;
    background: #d2b48c;
}

.upprobox-header h2{
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    padding-top: 1rem;
}

.upcomingwrapper{
    display: grid;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0;

}

.projbox{
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin: 1em auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #fff;
    display: none;
}

.upprobox .upcomingwrapper .projbox:nth-child(1),
.upprobox .upcomingwrapper .projbox:nth-child(2),
.upprobox .upcomingwrapper .projbox:nth-child(3){
    display: flex;
}

.projbox .buildingimg{
    flex: 1 1 200px;
    width: 100%;
    height: auto;
}

.buildingimg img{
    display: flex;
    width: 100%;
    height: auto;
}

.upprocontent{
    flex: 2 1 300px;
    padding: 1em 2em;
}

.upprocontent a{
    text-decoration: none;
    color: #334;
}

.upprocontent h2{
    font-size: 1.6em;
   margin-top: 0.6em;
   margin-bottom: 0.6em;
}

.upprocontent h3{
    font-size: 1.3em;
   margin-top: 0.6em;
   margin-bottom: 0.6em;
}

.upprocontent p{
   font-size: 16px;
   margin-top: 0.6em;
   margin-bottom: 0.6em;
}

#loadmore{
    display: flexbox;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

#loadmore button{
    display: flex;
    font-size: 20px;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 1rem auto;
}


/* FQA styling */

.QAsectioncontainer .QAheader h3{
    text-align: center;
    padding-top: 1rem;
}

.QA{
    width: 100%;
    max-width: 9999px;
    padding-left: 0.5rem;
}

.QA-item{
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.QA-item-header{
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.QA-item-header::after{
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.QA-item-header.active::after{
    content: "\2212";
}

.QA-item-body{
    max-height: 0;
    overflow: hidden;
} 

.QA-item-body-content{
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 3px solid;
    border-image: linear-gradient(to right);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    background-color: #d2b48c;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.footer-row {
    font-size: 1.5rem;
}

.footer-col ul {
    font-size: 1.5rem;
    list-style-type: none;
    padding-left: 0;
}

.footer-col ul li {
    margin: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: black;
}

.footer-col ul li a:hover {
    color: #0056b3;
}

.footer-bottom {
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}

/* Responsive styles */
@media (min-width: 1325px) {
    .dropdown-content {
        display: block; 
    }
}

@media (max-width: 1325px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        background-color: #d2b48c;
        padding: 20px;
    }

    .imgLinkcontainer {
        margin: 0;
    }

    .topimgscontainer {
        padding-left: 6vw;
    }

    .mainimgcontainer {
        display: block;
        align-items: center;
    }

    .main-img {
        width: 90%;
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0 10px;
    }
    
    .finder-logo {
        margin: 0;
    }

    .finder-logo img{
        max-width: 100%;
        align-items: center;
    }

    .nav-link-container, .login {
        margin: 10px;
    }

    .footer-container {
        display: block;
        justify-content: center;
        margin: 10px;
    }

    .footer-row,
    .footer-col {
        text-align: center;
        margin: 0;
        padding: 0;
    }
}
