.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #d2b48c;
    border-radius: 10px;
}

.finder-logo {
    margin-right: auto;
}

/* Logo styles */
.finder-logo img {
    max-width: 30%;
    border-radius: 10px;
}

/* Navigation styles */
.nav-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.nav-links a:hover {
    color: #0056b3;
}

.login {
    margin-left: 15px;
}

/* Login styles */
.login a {
    text-decoration: none;
    color: white;
    padding: 10px 15px; 
    background-color: #007bff; 
    border-radius: 5px; 
    font-size: 1.5rem; 
    font-weight: bold; 
    transition: background-color 0.3s;
}

.login a:hover {
    background-color: #0056b3;
}

.calculator-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #d2b48c;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.calculator-container h1 {
    text-align: center;
}

.calculator-container label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.calculator-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calculator-container button {
    display: block;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.calculator-container button:hover {
    background: #0056b3;
}

#loan_amount,
#interest_rate,
#duration_years,
#monthly_income,
#other_debts,
#downpayment,
#interest_rate_afford,
#duration_years_afford,
#property_price {
    max-width: 95%;
}

#mortgage-result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

#mortgage-result h2 {
    font-size: 1.5rem;
    color: #333;
}

#mortgage-result p {
    font-size: 1.2rem;
    margin: 5px 0;
}

#mortgage-description {
    margin-top: 5px;
    padding: 10px;
}

#mortgage-description h2 {
    font-size: 1.5rem;
    color: #333;
}

#mortgage-description p {
    font-size: 1.2rem;
    margin: 5px 0;
}


#affordability-result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

#affordability-result h2 {
    font-size: 1.5rem;
    color: #333;
}

#affordability-result p {
    font-size: 1.2rem;
    margin: 5px 0;
}

#affordability-description {
    margin-top: 5px;
    padding: 10px;
}

#affordability-description h2 {
    font-size: 1.5rem;
    color: #333;
}

#affordability-description p {
    font-size: 1.2rem;
    margin: 5px 0;
}

#stamp-duty-result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

#stamp-duty-result h2 {
    font-size: 1.5rem;
    color: #333;
}

#stamp-duty-result p {
    font-size: 1.2rem;
    margin: 5px 0;
}

#stamp-duty-description {
    margin-top: 5px;
    padding: 10px;
}

#stamp-duty-description h2 {
    font-size: 1.5rem;
    color: #333;
}

#stamp-duty-description p {
    font-size: 1.2rem;
    margin: 5px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    background-color: #d2b48c;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

.footer-row {
    font-size: 1.5rem;
}

.footer-col ul {
    font-size: 1.5rem;
    list-style-type: none;
    padding-left: 0;
}

.footer-col ul li {
    margin: 10px;
}

.footer-col ul li a {
    text-decoration: none;
    color: black;
}

.footer-col ul li a:hover {
    color: #0056b3;
}

.footer-bottom {
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
}

/* Responsive styles */
@media (min-width: 1325px) {
    .dropdown-content {
        display: block; /* Show links normally on larger screens */
    }
}

@media (max-width: 1325px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        background-color: #d2b48c;
        padding: 20px;
    }

    .imgLinkcontainer {
        margin: 0;
    }

    .topimgscontainer {
        display: block;
        padding-left: 6vw;
    }

    .mainimgcontainer {
        display: block;
        align-items: center;
    }

    .main-img {
        width: 90%;
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0 10px;
    }
    
    .finder-logo {
        margin: 0;
    }

    .finder-logo img{
        max-width: 100%;
        align-items: center;
    }

    .nav-link-container, .login {
        margin: 10px;
    }

    .footer-container {
        display: block;
        justify-content: center;
        margin: 10px;
    }

    .footer-row,
    .footer-col {
        text-align: center;
        margin: 0;
        padding: 0;
    }
}